<h1 align = "center">Scenes Listing</h1>
<hr />

<% @scenes.each do |scene| %>
  <div class="row">
    <div class="col-md-2">
      <section class="center">
        
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= scene.title %></h4>
      <p><%= truncate(scene.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(scene.created_at) %> ago</small></span>
      </p>
    </div>
  </div>
<% end %>