<h1 align="center"><%= @scene.title.capitalize %></h1>
<div class="well col-md-8 col-md-offset-2"
<p><%= simple_format(@scene.description) %></p>
<span class="quiet"><small>Created <%= time_ago_in_words(@scene.created_at) %> ago</small></span>

